{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "es2021": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["jest"]
}
